@model QuanApi.Data.SanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoXepLy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoXepLy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanCapNhatCuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanCapNhatCuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMuc.MaDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuongHieu.MaThuongHieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatLieu.MaChatLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiOng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiOng.MaLoaiOng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KieuDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KieuDang.MaKieuDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LungQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LungQuan.MaLungQuan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
