@model QuanApi.Data.PhieuGiamGia

@{
    ViewData["Title"] = "Chi tiết phiếu giảm giá";
}

<h2>@ViewData["Title"]</h2>

<dl class="row">
    <dt class="col-sm-3">Mã Code</dt>
    <dd class="col-sm-9">@Model.MaCode</dd>

    <dt class="col-sm-3">Tên phiếu</dt>
    <dd class="col-sm-9">@Model.TenPhieu</dd>

    <dt class="col-sm-3">Giá trị giảm</dt>
    <dd class="col-sm-9">@Model.GiaTriGiam</dd>

    <dt class="col-sm-3">Số lượng</dt>
    <dd class="col-sm-9">@Model.SoLuong</dd>

    <dt class="col-sm-3">Thời gian áp dụng</dt>
    <dd class="col-sm-9">@Model.NgayBatDau.ToString("dd/MM/yyyy") - @Model.NgayKetThuc.ToString("dd/MM/yyyy")</dd>

    <dt class="col-sm-3">Công khai</dt>
    <dd class="col-sm-9">@((Model.LaCongKhai) ? "✔️" : "❌")</dd>

    <dt class="col-sm-3">Trạng thái</dt>
    <dd class="col-sm-9">@((Model.TrangThai) ? "Hoạt động" : "Không hoạt động")</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.IDPhieuGiamGia" class="btn btn-warning">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
