@model QuanApi.Data.KhachHangPhieuGiam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KhachHangPhieuGiam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhachHangPhieuGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhachHangPhieuGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanCapNhatCuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanCapNhatCuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.MaKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieuGiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieuGiamGia.MaCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDKhachHangPhieuGiam">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
