@model IEnumerable<QuanApi.Data.KhachHangPhieuGiam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKhachHangPhieuGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanCapNhatCuoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuGiamGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhachHangPhieuGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanCapNhatCuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.MaKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuGiamGia.MaCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDKhachHangPhieuGiam">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDKhachHangPhieuGiam">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDKhachHangPhieuGiam">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
